<div class="not-found">
  <div class="not-found-image">
    <img src="<%= url_for(theme.shion && theme.shion['404_image'] || '/images/shion/404.png') %>" alt="Shion">
  </div>
  <h1 class="not-found-title">404</h1>
  <p class="not-found-message"><%= __('page_not_found') %></p>
  <a class="btn-home" href="<%= url_for('/') %>"><%= __('back_to_home') %></a>
</div>
