<% if (theme.appearance && theme.appearance.reading_progress) { %>
<div class="reading-progress" id="reading-progress">
  <div class="reading-progress-bar" id="reading-progress-bar"></div>
</div>
<% } %>
