.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.text-center {
  text-align: center;
}

@include respond-down('md') {
  .hidden-md {
    display: none !important;
  }
}

@include respond-up('md') {
  .visible-md {
    display: none !important;
  }
}
